<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="Css/Style.css">
	<link rel="icon" href="img/taquin.png">

	<!-- titre de la page  -->
	<title>Taquin</title>
</head>
<body>
	<p>
		<h1 class="titre">
		Jeu du Taquin
		</h1>
	</p>
		<!-- Contenue sous forme de boite -->
	<div id="content">

			<div class="leftbox">
				<p>
					<h1>
						REGLE DU JEU
					</h1>
				</p>
				<h2>Bonjour cher joueur, voici les regles du taquin
					<br>But du jeu :
					<br>Sur un plateau de 9 cases, il faut replacer, en les glissant, 8 pions dans le bon ordre avec le moins de mouvements possibles.
				</h2>
				<img src="img/taquin.png">
			</div>
			
			<div class="rightbox">
				<h1>
					TAQUIN
				</h1>
				<input type="button" style="width:100; height:100" value="AIDE" />
            	<input type="button" value="RESOLUTION" />

				<iframe width="400" height="400" src="https:/google.com" frameborder="0" style="overflow: hidden;"

				
			</div>
	</div>


</body>
</html>
