canvas{
    background-color: aqua ;
    border: 1px solid black;
    cursor: cell;
    width: 32.4%;
	height: 31%;
}


div#jeu{
	width: 500px;
	height: 500px;
	background-color: gray;
	direction: column;
	
}