body{
    background-color: #60FDBD;
}

h1.titre{
    color: whitesmoke;
    font-size: 40px;
    text-align: center;
}

h1{
    color: #777777;
    text-align: center;
    margin: 35px;
    
}

h2{
    color: #777777;
    text-align: center;
    margin: 35px;
    size: 20%;

}


div#jeu{
    width: 500px;
    height: 500px;
    background: green;
    direction: column;
}

div#jeu div.square {
    border: 3px solid black;
    background: red;
    width: 31%;
    height: 160px;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    display: inline-flex;

}




div#content div.rightbox div.button{
    display: flex;
}




div#content div.rightbox input{
    vertical-align: top;
    display: inline-block;
    margin-left: 0px;
   
}


div#content div img{
    display: block;
    margin-left: auto;
    margin-right: auto; 
}



div#content{
    display: inline-grid;
    width: 45%;
    vertical-align: top;
    margin-bottom: 10px;
    margin-left: 10px;

}


div#content div.leftbox{
    background-color: yellow;
    vertical-align: top;

}


div#content div.rightbox{
    background-color: blue;

    
    
}